rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.token.email == "warisalidigitalsolutions@gmail.com";
    }
    match /orders/{orderId} {
      allow create: if
        request.resource.data.customer is map &&
        request.resource.data.customer.name is string &&
        request.resource.data.customer.email is string &&
        request.resource.data.items is list &&
        request.resource.data.amount is number &&
        request.resource.data.status == "pending";
      allow read, update, delete: if request.auth != null && request.auth.token.email == "warisalidigitalsolutions@gmail.com";
    }
  }
}